<ul>
    <li><a href="#overview">Overview</a></li>
    <% if (prerequisites) { %>
    <li><a href="#prerequisites">Prerequisites</a></li>
    <% } %>
    <% if (hasConfig) { %>
    <li><a href="#CreateConfiguration">Plugin Configuration</a></li>
    <% } %>
    <li><a href="#procedures">Plugin Procedures</a></li>
    <ul>
        <% procedures.each { procedure -> %>

        <li><a href="#${procedure.id}">${procedure.name}${procedure.deprecated ? ' (DEPRECATED)' : ''}</a></li>
        <% } %>
    </ul>
    <% if (useCases) { %>
    <li><a href="#usecases">Use Cases</a></li>
    <ul>
        <% useCases.each { useCase -> %>
        <li><a href="#${useCase.id}">${useCase.name}</a></li>
        <% } %>
    </ul>
    <% } %>
    <% if (knownIssues) { %>
    <li><a href="#knownIssues">Known Issues</a></li>
    <% } %>
    <li><a href="#releaseNotes">Release Notes</a></li>
</ul>