<ul>
    ${chaptersPlacement.placeTocHeader('before', 'overview')}
    <li><a href="#overview">Overview</a></li>
    ${chaptersPlacement.placeTocHeader('after', 'overview')}
    ${chaptersPlacement.placeTocHeader('before', 'supported_versions')}
    <% if (supportedVersions) { %>
    <li><a href="#supportedVersions">Supported Versions</a></li>
    <%  } %>
    ${chaptersPlacement.placeTocHeader('after', 'supported_versions')}
    ${chaptersPlacement.placeTocHeader('before', 'prerequisites')}
    <% if (prerequisites) { %>
    <li><a href="#prerequisites">Prerequisites</a></li>
    <% } %>
    ${chaptersPlacement.placeTocHeader('after', 'prerequisites')}
    <% if (hasConfig) { %>
    <li><a href="#CreateConfiguration">Plugin Configuration</a></li>
    <% } %>

    ${chaptersPlacement.placeTocHeader('before', 'procedures')}
    <li><a href="#procedures">Plugin Procedures</a></li>
    <% if (proceduresGrouping) {
        proceduresGrouping.groups?.each { group ->
            def groupName = group.name ?: '<Grouped Procedures>'
            def groupDescription = group.description ?: ''
            def groupProcedures = group.procedures
            if (groupDescription)
                groupDescription = '<br/><i>' + groupDescription + '</i>'
            print '<li>' + groupName + groupDescription + '</li>'
            print '<ul>'
            groupProcedures.each { procedure ->
                def deprecated = ''
                if (procedure.deprecated)
                    deprecated = ' (DEPRECATED)'
                def token = procedure.token ?: ''
                if (token) {
                    token = ' ' + token
                }
                print "<li><a href=\"#${procedure.id}\">${procedure.name}${token}${deprecated}</a></li>"
            }
            print '</ul>'
        }
    }
    else if (separateProceduresToc) {
        // do nothing
    }
    else { %>

    <ul>
        <% procedures.each { procedure -> %>

        <li><a href="#${procedure.id}">${procedure.name}${procedure.token ? ' ' + procedure.token : ''}${procedure.deprecated ? ' (DEPRECATED)' : ''}</a></li>
        <% } %>
    </ul>

    <% } // common list %>

    ${chaptersPlacement.placeTocHeader('after', 'procedures')}
    ${chaptersPlacement.placeTocHeader('before', 'use_cases')}
    <% if (useCases) { %>
    <li><a href="#usecases">Use Cases</a></li>
    <ul>
        <% useCases.each { useCase -> %>
        <li><a href="#${useCase.id}">${useCase.name}</a></li>
        <% } %>
    </ul>
    <% } %>
    ${chaptersPlacement.placeTocHeader('after', 'use_cases')}
    ${chaptersPlacement.placeTocHeader('before', 'known_issues')}
    <% if (knownIssues) { %>
    <li><a href="#knownIssues">Known Issues</a></li>
    <% } %>
    ${chaptersPlacement.placeTocHeader('after', 'known_issues')}
    <li><a href="#releaseNotes">Release Notes</a></li>
</ul>